
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrap {
    display: grid;
    grid-template-columns: 40% 60%;
}

.hero {
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    align-self: start;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.menu {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #FFF;
}

.menu__link {
    text-decoration: none;
    color: #FFF;
}

.slider {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider-content {
    width: 100%;
}

.slide {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slide__title {
    color: #FFF;
    font-size: 36px;
}