@import './variables';
@import './reset';

$white: #fafafa;

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: $white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrap {
    display: flex;
}

.hero {
    height: 100vh;
    position: sticky;
    top: 0;
    bottom: 0;
    align-self: start;
    width: 40%;
}

.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.menu {
    position: absolute;
    top: 45%;
    left: 45%;
}

.menu__link {
    text-decoration: none;
    color: $white;
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    transition: .3s;
    width: 200px;
    text-align: left;
    display: block;

    &:hover {
        transform: translateX(-10px);
        text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
    }
}

.active {
    transform: translateX(-10px);
}

.menu__item {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px;
}

.slider {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider-content {
    width: 100%;
}

.color0 {
    background-color: var(--color0);
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: var(--color2);
}

.color3 {
    background-color: var(--color3);
}

.sticky {
    position: sticky;
    top: 0;
    margin-top: 0px !important;
}

.slide {
    position: sticky;
    top: 0;
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.more {
    width: 100%;
    height: 80vh;
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.slide__title {
    font-size: 36px;
    height: 10%;
    padding-top: 50px;
    @media (max-width: 768px) {

        height: 8%;
    }
}

.slide__content {
    height: 90%;
    width: 90%;
    padding-bottom: 5vh;
}

.slide__text {
    line-height: 1.5em;
    padding: 0 10%;
    margin: 0 0 25px 0;

    @media (max-width: 768px) {

        margin: 0 0 10px 0;
    }
}



ion-icon {
    font-size: 72px;
    padding: 10px;
    transition: .3s;

    @media (max-width: 768px) {

        font-size: 56px;
    }

    &:hover {
        transform: scale(1.1);
        text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
    }
  }



.skills .slide__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: start;
}

.skills-item {
    min-height: 80px;
    flex-basis: 25%;
    -ms-flex: auto;
    width: 250px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {

        padding: 10px;
    }
}

.portfolio .slide__content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: start;
    padding: 50px 0 150px 0;
    @media (max-width: 1200px) {
        padding: 10px 0 0 0;
    }
}

.portfolio__item {
    width: 45%;
    height: 45%;
    flex-basis: 50%;
    -ms-flex: auto;
    min-width: 300px;
    position: relative;
    box-sizing: border-box;
    padding: 2.5%;
    align-content: center;
    @media (max-width: 1200px) {
        flex-basis: 100%;
        height: 20%;
    }
}

.portfolio__content {
    outline: 2px dashed $white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background: url("../img/dot-seamless-pattern.svg");
    background-repeat: repeat-x;
    background-size: 100px;
    background-position: bottom;

    @media (max-width: 1200px) {
        background-size: 50px;
    }
}

.portfolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    transition: .3s;
}

.portfolio__content:hover .portfolio__text {
    opacity: 0;
}

.portfolio__content:hover .portfolio__image {
    opacity: 1;
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__text {
    position: absolute;
    top: 10%;
    left: 5%;
    transition: .3s;
    color: $white;
}

.portfolio__title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 1.2em;
    color: $white;
}

.portfolio__subtitle {
    line-height: 1.2em;
    color: $white;
}

.contact__link-list {
    height: 12%;
    display: flex;
    justify-content: space-around;

    ion-icon {
        font-size: 36px;
        color: $white;
        padding-bottom: 25px;
    }

}

.contact__link-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contact__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: $white;

    &:hover {
        text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form__text {
    text-align: center;
    font-size: 18px;
    margin: 1.5em;
}

.contact-form__label {
    width: 60%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    position: relative;

    ion-icon {
        font-size: 24px;
        padding: 0px;
        position: absolute;
        right: 10px;
        top: 20px;
        opacity: 0.8;
    }
}

.contact-form__input {
    padding: 15px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px dashed $white;
    background-color: transparent;
    outline: none;
    color: $white;
    font-size: 16px;

    &::placeholder {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        opacity: 0.8;
    }
}

.contact-form__textarea {
    padding: 15px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px dashed $white;
    background-color: transparent;
    outline: none;
    color: $white;
    font-size: 16px;

    &::placeholder {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        opacity: 0.8;
    }
}

.contact-form__submit {
    background-color: $white;
    color: var(--color3);
    border: none;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: .5s;
    font-weight: 600;
    outline: none;

    &:hover {
        padding: 10px 45px;
        text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
        border-radius: 3px;
        background-color: rgba($white, 0.95);
    }

    &:focus, &:active {
        padding: 10px 45px;
        text-shadow: 0px 1px 3px rgba(255,255,255,0.6);
        border-radius: 3px;
        background-color: rgba($white, 0.8);
    }
}

.form_error {
    line-height: 20px;
    display: flex;
    opacity: 0.8;

    svg {
        width: 20px;
        fill: $white;
        margin-right: 10px;
        opacity: 0.8;
    }
}

.hidden {
    display: none;
}

